/* PLAYERS SECTION */
#players-container {
  max-width: 1000px;
  height: 300px;
  margin: 0 auto;
  background-color: #000000;
  margin-top: 2em;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-block: 1em;
}

#players-container h2 {
  font-family: "Audiowide", sans-serif;
  letter-spacing: 0.8px;
  font-weight: 600;
  font-size: 1.5rem;
}

#players {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-top: 1em;
}

.player-X,
.player-O {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}

.player-X .player-sign,
.player-O .player-sign {
  font-size: 2.5rem;
  padding: 0.1em 0.3em;
  font-weight: 600;
  margin-bottom: 0.3em;
  display: inline-block;
}

.player-X .player-sign {
  background: radial-gradient(#ef4444, transparent);
}

.player-O .player-sign {
  background: radial-gradient(#179fff, transparent);
}

#players .player-name-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 40px;
  padding-right: 0.5em;
  padding-left: 0.4em;
  background-color: #161616;
  box-shadow: 0 0px 4px rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;
  font-family: 'Roboto', sans-serif;
}

#players p:first-child {
  font-size: 1.1rem;
  width: 220px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 0.5em;
  border-radius: 0.3rem;
  letter-spacing: 0.6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#players .name-edit-button {
  transition: all 0.2s ease;
}
.player-name-section > p, .player-name-section input {
  display: inline-block;
  padding: 0.3em 0.25em;
}

.player-name-section input {
  background-color: #000000;
  border-radius: 0.3rem;
  font-family: inherit;
  border: none;
  outline: none;
  margin-right: 0.5em;
  width: 100%;
  color: #f3f3f1;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 1rem;
}

.player-X input {
  border-bottom: 1px solid #ef4444;
}

.player-O input {
  border-bottom: 1px solid #179fff;
}

.player-name-section .name-edit-icon {
  color: #7a726b;
  font-size: 1.35rem;
}

.name-edit-icon:hover {
  color: #f3f3f1;
}

#players .score {
  font-size: 4rem;
  font-weight: 600;
}

#main-container {
  display: grid;
  grid-template-columns: 300px 1fr 250px;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

#scoreboard {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  padding: 2em;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 1em;
}

#scoreboard > h3 {
  font-size: 1.5rem;
  font-family: "Audiowide", sans-serif;
  margin-bottom: 0.5em;
}

#scoreboard > div {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

#scoreboard > div > .sign {
  display: inline-block;
  text-align: center;
  padding-top: 0.2em ;
  font-weight: 500;
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
  font-size: 1.5rem;
}

.player1-sign {
  color: #ef4444;
}

.player1-sign > .sign {
  background-color: #ef444430;
}

.tie {
  color: #7a726b;
}

.tie > .sign {
  background-color: #161616;
}

.player2-score {
  color: #179fff;
}

.player2-score > .sign {
  background-color: #179fff30;
}

#game-board {
  background-color: black;
  width: 630px;
  height: auto;
  border-radius: 1rem;
  padding: 2em;
  margin-top: 2em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.game-board-container {
  width: 100%;
  height: 100%;
}

.game-board-container ol {
  list-style-type: none;
}

.game-board-container .rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rows li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board-container > .rows > li:not(:last-child)  {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.rows .columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rows .columns button:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.rows .columns li {
  width: 185px;
  height: 185px;
  transition: all 0.2s ease;
}

.rows .columns li:hover {
  background-color: #ffffff1a;
  cursor: pointer;
}

line,
circle {
  transform-box: fill-box;
  transform-origin: center center;
}

svg circle {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  transform: scale(1);
}

circle {
  filter: drop-shadow(0 0 4px #179fff);
  animation: drawCircle 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 316;
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    stroke-dashoffset: 0;
    transition: scale(1);
  }
}

svg line {
  filter: drop-shadow(0 0 4px#ef4444);
  stroke-dasharray: 114;
  stroke-dashoffset: 114;
  animation: drawLine 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes drawLine {
  0% {
    transform: scale(1);
    stroke-dashoffset: 114;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#game-restart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-restart-container span {
  border-radius: 20px;
  background-color: #000000;
  margin-bottom: 1em;
  border: 1px solid whitesmoke;
  width: 90px;
  padding: 0.4em;
  text-align: center;
  font-weight: 600;
}

#game-restart-container button {
  width: 180px;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 0.4em;
  cursor: pointer;
  transition: all .2s ease;
}

#game-restart-container button:active {
  transform: scale(1.05);
}

#game-restart-container .btn-new-game {
  border: 1px solid green;
  color: green;
  background-color: #00800030;
  margin-bottom: 0.3em;
}

#game-restart-container .btn-new-game:hover {
  background-color: #00800050;
}

#game-restart-container .btn-reset-all {
  background-color: #ef444430;
  color: #ef4444;
  border: 1px solid #ef4444;
}

#game-restart-container .btn-reset-all:hover {
  background-color: #ef444450;
}